.signup-outter-container {
  max-width: 100svw;
  margin-bottom: 40px;
}

.signup-inner-container {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.signup-inner-container,
.form-container,
.signup-split-inputs {
  display: flex;
  gap: 4px;
}

.signup-inner-container,
.form-container {
  flex-direction: column;
}

.form-container {
  margin-bottom: 4px;
}

/* .signup-heading-container {} */

.signup-heading {
  font-size: 30px;
  font-weight: 900;
  color: var(--refrigel-theme-05);
}

.signup-radio-container {
  display: flex;
  gap: 20px;
}

/*--------------------------------------------------------------------------------*/
.form-heading-container {
  margin: 10px 0;
}

.form-heading {
  font-size: 14px;
  color: var(--text-03);
}

.signup-checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oauth-buttons-container {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.signup-form-has-account-container {
  margin: 10px auto;
}

.signup-form-has-account-element {
  font-size: 15px;
  color: #9b9da0;
}

.signup-form-has-account-element a:hover {
  color: var(--refrigel-theme-15);
}

.signup-form-has-account-element a:focus-visible {
  outline: 2px solid var(--refrigel-theme-13);
  outline-offset: 2px;
  border-radius: 2px;
}
