@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-max-width: 100vw;

    --product-card-max-width: 280px;
    --product-card-min-width: 200px;
    --product-card-height: 450px;

    --theme-01-light-gray: #e9eaed;
    --theme-02-light-gray: #a8afb8;
    --theme-03-medium-gray: #6a7481;
    --theme-04-medium-gray: #353a41;
    --theme-05-dark-gray: #25282d;
    --theme-06-light-blue: #1dbaed;
    --theme-07-dark-blue: #0d3e80;
    --theme-08-light-green: #37a73b;
}

/* Block browser to change background color when autofilling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--theme-01-light-gray) inset !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--theme-01-light-gray);
}

h2 {
    font-size: 2rem;
    color: var(--theme-05-dark-gray);
    font-weight: 700;
    line-height: 1.5;
}