@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --refrigel-theme-01: #171c8f;
  --refrigel-theme-02: #2f339a;
  --refrigel-theme-03: #4c1d95;
  --refrigel-theme-04: #5b21b6;
  --refrigel-theme-05: #1d4f91;
  --refrigel-theme-06: #34619c;
  --refrigel-theme-07: #005670;
  --refrigel-theme-08: #19677e;
  --refrigel-theme-09: #005f83;
  --refrigel-theme-10: #196f8f;
  --refrigel-theme-11: #0ea5e9;
  --refrigel-theme-12: #38bdf8;
  --refrigel-theme-13: #14b8a6;
  --refrigel-theme-14: #2dd4bf;
  --refrigel-theme-15: #16a34a;
  --refrigel-theme-16: #22c55e;
  --refrigel-theme-17: #e2e8f0;
  --refrigel-theme-18: #cbd5e1;
  --refrigel-theme-19: #b7c0c7;
  --refrigel-theme-20: #a4acb3;

  --refrigel-theme-21: #41689c;
  --refrigel-theme-22: #34619c;

  --text-01: #e2e8f0;
  --text-02: #c0c4c9;
  --text-03: #26282b;
  --text-04: var(--refrigel-theme-05);
}

/* Get rid off reveal button (eye icon) from password input type */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Remove default close icon from search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Block browser to change background color when autofilling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
  /* -webkit-text-fill-color: color !important;
  -webkit-box-shadow: 0 0 0 30px color inset !important; */
}

.modal-shown {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@layer utilities {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--text-03);
    background: var(--refrigel-theme-17);
  }
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    /* height: 10px; */
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f5f1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #41689c;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #34619c;
  }
}
