JWT_SECRET_KEY="INSECURE,CHANGE-ME"

DEVELOPMENT="true"

POSTGRES_DB="database_name"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="host"
POSTGRES_PORT="5432"

PGADMIN_DEFAULT_EMAIL="pgemail@domain.com"
PGADMIN_DEFAULT_PASSWORD="pgpassword"
