.form-container {
  width: 100%;
}

.button-element {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  color: var(--text-01);
  border-radius: 4px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
  outline-color: var(--refrigel-theme-13);
}

.button-element:focus {
  outline: 2px solid var(--refrigel-theme-13);
  outline-offset: 1px;
}

.signin-button-color {
  background: var(--refrigel-theme-05);
}

/* .signin-button-color-pending {
  background: var(--refrigel-theme-06);
} */

.signin-button-color:hover {
  background: var(--refrigel-theme-06);
}

.magiclink-button-color {
  background: var(--refrigel-theme-11);
}

/* .magiclink-button-color-pending {
  background: var(--refrigel-theme-12);
} */

.magiclink-button-color:hover {
  background: var(--refrigel-theme-12);
}

.google-button-element,
.facebook-button-element,
.apple-button-element {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  background: #cfd5d6;
  transition-duration: 200ms;
}

.google-button-element:hover,
.facebook-button-element:hover,
.apple-button-element:hover {
  background: #c9cfd1;
}

.google-button-element {
  color: #ea4335;
}

.facebook-button-element {
  color: #1877f2;
}

.apple-button-element {
  color: #333333;
}
