/*----------------------------------------=====signed-in=====----------------------------------------*/
.user-nav-signedin-main-container {
  display: grid;
  align-items: center;
  list-style: none;
  gap: 10px;
  grid-template-columns: 120px auto auto 20px 20px;
}

.user-nav-signedin-main-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  /* color: var(--text-01); */
  color: var(--text-01);
}

.user-nav-signedin-main-container li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user-nav-signedin-main-container li a:first-child {
  justify-content: flex-start;
}

.user-nav-signedin-main-container li:nth-last-child(1) {
  justify-content: flex-end;
}

.user-nav-auth-displayname {
  max-width: 50px;
  /* max-width: 45%; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*----------------------------------------=====signed-out=====----------------------------------------*/
.user-nav-signed-out-main-container {
  display: grid;
  align-items: center;
  list-style: none;
  gap: 10px;
  grid-template-columns: auto auto;
}

.user-nav-signed-out-main-container li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  /* color: var(--text-01); */
  color: var(--text-01);
}

.user-nav-signed-out-main-container li:first-child {
  justify-content: flex-start;
}

.user-nav-signed-out-main-container li:last-child {
  justify-content: flex-end;
}

/*----------------------------------------===== =====----------------------------------------*/

.user-nav-auth {
  position: relative;
}

.user-nav-auth-container,
.user-nav-auth-container-signedin {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 4px;
}

.user-nav-auth-container-signedin {
  cursor: pointer;
}

.user-nav-floating-menu-profile-display {
  display: flex;
  gap: 12px;
}

.user-nav-animation {
  transition: all 150ms;
}

.user-nav-auth-image {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 9999px;
}

.user-nav-auth-subcontainer,
.user-nav-auth-signedin-subcontainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 4px;
}

.user-nav-auth-signedin-subcontainer {
  flex-direction: row;
  align-items: center;
}

.user-nav-auth-subcontainer span a:hover {
  text-decoration: underline;
}

.user-nav-floating-menu-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.user-nav-floating-menu {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  width: 300px;
  border-radius: 4px;
  overflow: hidden;
  background: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.user-nav-floating-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-nav-floating-menu-items {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-03);
  padding: 8px 20px;
}

.user-nav-floating-menu-items:hover {
  background: #e9e9e9;
}

.user-nav-floating-menu hr {
  border-color: #e4e4e4;
}

.user-nav-floating-menu-form-item {
  display: flex;
  align-items: center;
  color: var(--text-03);
}

.user-nav-floating-menu-form-item:hover {
  background: #e9e9e9;
}

.user-nav-floating-menu-form-item button {
  text-align: left;
  width: 100%;
  padding: 8px 20px;
}
