<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de Email</title>
  </head>
  <body>
    <h1>Olá, {{contactName}}!</h1>
    <p>Por favor, confirme seu email clicando no link abaixo:</p>
    <a href="{{url}}">Confirmar Email</a>
    <footer></footer>
  </body>
</html>