SECRET_KEY="CHANGE-ME"
SECRET_KEY_JWT="CHANGE-ME"

DEBUG="True"

ALLOWED_HOSTS="127.0.0.1, localhost, database" # Comma Separated values

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="database"
POSTGRES_PORT="5432"