.outter-container {
  width: 100%;
}

.inner-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  background: #f0f0f0;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.inner-container:has(.gender-arrow:focus-visible) {
  outline: 2px solid var(--refrigel-theme-13);
  outline-offset: 2px;
}

.input-element {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin-top: 12px;
}

.input-padding {
  padding: 0 10px 0 10px;
}

.input-element::placeholder {
  color: transparent;
}

.input-element:active::placeholder {
  color: var(--text-02);
}

.input-element:focus::placeholder {
  color: var(--text-02);
}

.input-element:placeholder-shown + .label-element {
  transform: translateY(-5px);
  color: var(--text-03);
  scale: 1;
}

.input-element:active + .label-element {
  transform: translateY(-20px);
  color: var(--refrigel-theme-15);
  scale: 0.85;
}

.input-element:focus + .label-element {
  transform: translateY(-20px);
  color: var(--refrigel-theme-15);
  scale: 0.85;
}

.label-element {
  font-size: 14px;
  position: absolute;
  inset-inline-start: 10px;
  top: 14px;
  pointer-events: none;
  scale: 0.85;
  transform-origin: 0;
  transform: translateY(-20px);
  color: var(--refrigel-theme-15);
  transition-duration: 300ms;
  background: none;
}

/*----------------------------------------Errors----------------------------------------*/
.inner-container-error .label-element {
  color: #ef4444;
}

.inner-container-error .select-label {
  color: #ef4444;
}

.inner-container.inner-container-error {
  border: 1px solid #ef4444;
}

.inner-container-error .input-element:placeholder-shown + .label-element {
  color: #ef4444;
}

.inner-container-error .input-element:active + .label-element {
  color: #ef4444;
}

.inner-container-error .input-element:focus + .label-element {
  color: #ef4444;
}

/*----------------------------------------Gender----------------------------------------*/
.select-select-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
}

.select-label {
  font-size: 14px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}

.select-dropdown {
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  width: 100%;
  border-radius: 4px;
  top: 110%;
  z-index: 1;
  border: 1px solid #c0c0c0;
  background: #f0f0f0;
}

.select-arrow {
  outline: none;
  transition: all 150ms;
}

.select-dropdown li {
  padding: 4px 8px;
}

.select-dropdown li:hover {
  width: 100%;
  background: #e2e2e2;
}

/*----------------------------------------Password----------------------------------------*/
.pass-input-padding {
  padding: 0 40px 0 10px;
}

.pass-toggle-eye {
  position: absolute;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.toggle-on,
.toggle-off {
  font-size: 20px;
  color: rgb(133, 133, 133);
}

/*----------------------------------------Password-Rules----------------------------------------*/
.pass-rules-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2px;
  padding: 4px 0;
}

.pass-rules-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*----------------------------------------Progress-Bar----------------------------------------*/
.pass-progress-bar-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 4px;
}

.pass-progress-bar-message {
  font-size: 14px;
}

.pass-progress-bar-bg {
  position: relative;
  width: 100%;
  height: 5px;
  background: #f0f0f0;
  border-radius: 9999px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pass-progress-bar {
  position: absolute;
  width: 0%;
  height: 5px;
  border-radius: 9999px;
  transition: all 500ms ease-out;
}
