.checkbox-main-container {
  margin: 10px 0;
}

.checkbox-label-container {
  display: flex;
  gap: 8px;
}

.checkbox-label-container.checkbox-label-container-error {
  color: #ef4444;
}

.checkbox-container {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  transition-duration: 200ms;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.checkbox-container.checkbox-container-error {
  border: 1px solid #ef4444;
}

.checkbox-container:focus-visible {
  outline: 2px solid var(--refrigel-theme-13);
  outline-offset: 1px;
}

.checkbox-element {
  color: var(--text-01);
  display: none;
  position: absolute;
  width: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-main-container
  input[type="checkbox"]:checked
  + label
  .checkbox-container {
  background: var(--refrigel-theme-05);
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox-main-container
  input[type="checkbox"]:checked
  + label
  .checkbox-element {
  display: block;
  animation: checkbox-element-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-element-bounce {
  0% {
    transform: translate(-50%, -30%);
  }
  67% {
    transform: translate(-50%, -65%);
  }
  91% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
