.footer-links-container {
  width: 100%;
  height: 300px;
  background: #d7dce2;
}

.footer-company-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: var(--refrigel-theme-15);
}

.footer-company-elements {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-info {
  color: var(--text-01);
  font-size: 11px;
}
